.footer {
    background-color: rgb(50, 50, 50);
    color: white;
}

.footer-flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    height: 700px;

    position: relative;
}

.footer-icons {
    display: flex;
    flex-direction: row;

    gap: 30px;

    justify-content: center;

    margin-bottom: 50px;
}

.footer-insta {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    background-color: white;
    border-radius: 100px;

    width: 50px;
    height: 50px;

    cursor: pointer;

}

.footer-flexbox-second {
    position: absolute;

    bottom: 250px;
}

.footer-img {
    width: 37px;
}

