.hero-title {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgb(144, 144, 144);
    background-blend-mode: multiply;

    color: white;

    height: 600px;

    margin-bottom: 200px;

    
}

.tips-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.tips-title {
    font-size: 35px;

    font-weight: bold;
}