.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background: transparent;

    padding-top: 50px;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 30px;

}

.blank {
    display: flex;
    flex: 1;
}

.nav-content {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 100px;

    color: white;
    font-weight: bold;
    font-size: 17px;
}

.about-me {
    color: white;
    
}

.home,.about-me,.tips,.quiz,.contact {
    cursor: pointer;
    transition: font-size 0.3s;
}

.home:hover,.about-me:hover,.tips:hover,.quiz:hover,.contact:hover {
    font-size: 21px;
}



@media (max-width: 600px) {
    .nav-content {
        margin-right: 0px;
    }


    .nav-content {
        display: flex;
        flex-direction: row;

        justify-content: space-evenly;

        margin-right: 0px;

        font-size: 13px;
        font-weight: bold;
    }
}