

/*ここからbodyセクション*/

.whole-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flexbox {
     display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center ;
    margin-top: 150px;
}


.tips-picture {
    width: 450px;
    border-radius: 30px;

    margin-right: 30px;
}

.text-container {
    display:flex ;
    flex-direction: column;
}

.flexbox-second{
    display: flex;
    flex-direction: row;

    align-items: center;
}




.flexbox-second .tips {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 95, 80);
}

.tips-text {
    font-size: 28px;
    font-weight: 1000;

    margin-bottom: 13px;
}


.button {

    background-color: rgb(255, 95, 80);
    color: white;
    border-radius: 100px;
    border: none;

    font-weight: bold;
    font-size: 16x;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-top: 12px;

    margin-top: 20px;
    
    transition: box-shadow 0.3s;

    cursor: pointer;



}


.button:hover {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);


}


.button-container {
 display: flex;
 flex-direction: row;

 justify-content: center;
 align-items: center;

}


/*ここからbeach section*/



.flexbox-growth {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 650px;
    margin-top: 150px;
    gap: 100px;

    background-image: url(../picture/c725388041f93ff0c32156e02dda997e81f6a615-5400x3552.webp);

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgb(144, 144, 144);
    background-blend-mode: multiply;

    color: white;
}

.beach-column {
    display: flex;
    flex-direction: column;

}

.growth {
    font-size: 37px;
    font-weight: bold;

    margin-bottom: 13px;
}

.youtube {

    border-radius: 30px;
}



/*media 1000px以下*/

@media (max-width: 1000px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }

    .flexbox-growth {
        display: flex;
        flex-direction: column;
    }

}


/*スマホサイズ*/

@media (max-width: 600px) {


    .hero-container {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;

        height: 700px;
    }


    

    .hero-title,.hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
        width: 90%;

        text-align: center;

    }

    .hero-title {
        font-size: 55px;
        margin-bottom: 40px;
        width: 85%;
    }

    .hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
        font-size: 15px;

    }

    .tips-picture {
          width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;

        

    }

    .picture-container {
        
        width: 100%;
    overflow: hidden;
    }

    .body-title {
        font-size: 15px;
    }

    .body-subtitle {
        font-size: 19px;
    }

    .tips-picture {
        margin-right: 0;

        margin-bottom: 14px;
    }

    .text-container {
        width: 80%;
    }

    .bulb {
        width: 20px;
        margin-right: 5px;
    }

    .flexbox-second .tips {
        font-size: 13px;
    }

    .tips-text {
        font-size:23px;

    
    }

    .button {
        font-size: 13px;
    }

    .beach-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .growth {
        font-size: 30px;
    }
    
    .growth-text {
        width: 70%;
        text-align: center;
    }


    .youtube-vid {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%; /* 16:9比率 = 9/16*100 */
  height: 0;
  overflow: hidden;
  border-radius: 16px; /* お好みで角を丸く */
}

.youtube-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
}