.hero-title {
        background-image: url(../picture/study.jpg);

}

.whole-section {
    width: 65%;
    margin: 0 auto;

    
}

.main-title {
    font-size: 25px;
    font-weight: bold;

    text-align: center;

    margin-bottom: 30px;

    color: rgb(99, 99, 99);


}

.main-subtitle {
    font-size: 16px;
    margin-top: 100px;

    font-weight: bold;

    text-align: center;
}

.line-pic {
    width: 150px;
    
}

.line-container {

    display: flex;
    
    align-items: center;
    justify-content: center;

}

.highlight {
    color: rgb(255, 95, 80);
}

.tips-second-subtitle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.title-content {
    color: rgb(51, 51, 51);

    font-size: 25px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 20px;

}

.click {
    color: rgb(99, 99, 99);

    font-size: 16px;
    font-weight: bold;

    margin-top: 35px;
    margin-bottom: 160px;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;


}

.tips-image {
    width: 100%;
}


.image-card {

    border-radius: 30px;
    height: 430px;
    width: 480px;
    transition: box-shadow 0.2s;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);


}

.image-card:hover {
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
}

.card-text {
    font-size: 16px;
    padding: 30px;
    font-weight: bold;

    color: rgb(128, 126, 126);
}

.footer {
    margin-top: 200px;
}


/*ここから上達のヒント*/


@media (max-width: 600px) {


    .hero-title {
        margin-bottom: 150px;
    }

    .image-container {
   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;

}

.image-card {
    width: 100%;
    height: 60%;
}

.tips-image {

   
}

.hero-title,.hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
    width: 100%;
}

.tips-subtitle {
    font-size: 15px;
}

.tips-title {
    font-size: 25px;
}

.main-title {
    font-size: 19px;
}

.main-subtitle {
    font-size: 16px;
}

.title-content {
    font-size: 19px;

    margin-top: 170px;
    margin-bottom: 10px;
}

.click {
    margin-bottom: 120px;
}

.card-text {
    font-size: 16px;
}

}




